<div class="container">
  <div class="box">
    <div class="box-list">
      <img data-bs-toggle="modal" data-bs-target="#exampleModal"
        src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="box-img">
    </div>
    <div class="box-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="box-img">
    </div>
    <div class="box-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="box-img">
    </div>
    <div class="box-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="box-img">
    </div>
    <div class="box-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="box-img">
    </div>
    <div class="box-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="box-img">
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img style="width: -webkit-fill-available;"
            src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="">
        </div>
      </div>
    </div>