<div class="container mt-5">
  <div class=" mb-3">

    <input (change)="uploadPhoto($event)" type="file" class="form-control" id="thumbnail"
      accept="image/x-png,image/jpeg">
    <label for="thumbnail" class="col-form-label"></label>
  </div>
  <div class="box">

    @for (image of this.imageData(); track image?.['name']) {
    <div class="box-list">
      <img (click)="modalImage(this.urlCDN() + this.userId() + '/' + image?.['name'])" data-bs-toggle="modal"
        data-bs-target="#exampleModal" [src]="this.urlCDN() + this.userId() + '/' + image?.['name']" alt=""
        class="box-img">
    </div>
    } @empty {
    <div>No Images Available</div>
    }
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img style="width: -webkit-fill-available;" src={{this.getModalImage()}} alt="">
        </div>
      </div>
    </div>